<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="vibra()">Vibrar</ion-button>
  <ion-button expand="block" (click)="pausado()">Vibracion pausada</ion-button>
  <ion-button expand="block" (click)="parar()">Detener</ion-button>
  <ion-button expand="block" (click)="preView()">
    <ion-icon name="reader-outline"></ion-icon>Document Viwer</ion-button>
</ion-content>
