<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="goToBt()">
    <ion-icon size="large" name="bluetooth">
    </ion-icon>Bluetooth
  </ion-button>
  <ion-button expand="block" (click)="girar()" color="secondary" >
    <ion-icon size="large" name="star">
    </ion-icon>Spinner
  </ion-button>
  <ion-button expand="block" (click)="ver()" color="success" >
    <ion-icon name="image-outline"></ion-icon>Photo Viwer
  </ion-button>
</ion-content>
